<h1>HEY ANGULER</h1>


<div class="Holder">
  
  <form [formGroup]="form" (ngSubmit)="onLoginSubmit(form.value)">
    <div class="formGroup">
      <input type="text" placeholder="Enter usaername" formControlName="username" class="form-control">

    </div>
    <div class="form-group">
      <input type="password" placeholder="Enter password" formControlName="password" class="form-control">

    </div>
    <div class="button-holder">
    <button type="submit" class="form-button">Login</button>

    </div>
  </form>




</div>

  <div class="info">
    <div class="hedi">
      <h1>Welcome to the best web-site whit 4 api...WOW </h1>
      <div class="text">
        <p>Here you will fint informasjon about the weather and how to cook you food if the weather is pore, you can read about exotic destinations, and dream your self away.  </p>
        <p>This is way this is the best web-site fore doing noting and everyting at the same time </p>
        <h4 class="last-caracter">Enjoy</h4>

      </div>
    </div>
  </div>
