/* You can add global styles to this file, and also import other style files */
@import './app/components/login-form/login-form.component.scss';
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

$mainColor: #494949;

body{
    background-color: #494949;
    font-family: 'PT Sans', sans-serif;
}
