$mainColor: #494949;
$mainColor2: #8a8a8a;
$borderColor: #f5deb3;
$elementColor: #BD624A;
$elementColor2: #3D6183;
body{
    margin: 0px !important;
    padding: 0px !important;
}
button{
    background-color: transparent;
    border: none;
    i{
        font-size: 20px;
        color: $elementColor;
    }
}


.container{
    display: grid;
    column-count: 2;
    column-gap: 80px;
    grid-row: auto auto auto auto;
    grid-template-columns: repeat(auto-fill, minmax(250px,  1fr));
    background-color: $mainColor2;
    border-left: 5px solid $borderColor;
    border-right: 5px solid $borderColor;
    border-bottom: 5px solid $borderColor;
    box-shadow: 0 0 0 5px $mainColor inset;
    max-width: 1000px;
    margin:  auto;
    padding: 25px;
 
}

.sidebar {
    background-color: darkgray;
    width: 90px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    border-right: 5px solid $borderColor;

}
.sidbare-left-tekst{
    transform: rotate(90deg);
    position: absolute;
    top: 10;
    left: 90px;
    bottom: 20px;
    border-bottom: #BD624A 5px solid;
    
}
.sidbare-left{
    font-size: 30px;
    
    list-style-type: none;
    border-left: 5px solid $borderColor;
    position: absolute;
    top: 100;
    left: 0;
    bottom: 0;
    
  
    .li{
        margin: 18px auto;
        padding: 10px;
        background-color: aliceblue;
        height: 20px;
        width: 20px;
        border-radius: 50%;
    }

}

.sidebar h3 {
    color: white;
}



.button_left{
    margin: 18px auto;
    padding: 10px;
    background-color: aliceblue;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}





.button_center1 {
    display: none;
}
.button_center2 {
    display: none;
}
.button_center3 {
    display: none;
}
.button_center4 {
    display: none;
}




@media (max-width: 1400px) {
    .sidebar  {
        display: none;
    }
      
    .button_center:hover{
        background-color: aliceblue;
        box-shadow: #494949 10px 10px 10px 10px;
        border-radius: 50%;
      
       
       text-decoration: underline #BD624A;
    

    }
  .nabvar-center{
       text-align: center;
       width: 80%;
       margin: auto;
       list-style-type: none;
      
       

        .button_center1 {
            display: inline-block;
            text-align: center ;
            justify-content: center;

            height: 49px;
            padding: 10px;;
            width: 49px;
            background-color: aliceblue;
            margin: 5px;
            border-radius: 50%;
             
        }
        .button_center1:active:hover{
            background-color: #BD624A;
            i{
                color: #000;
            }
         
        }
        .button_center2 {
            display: inline-block;
            text-align: center ;
            justify-content: center;

            height: 49px;
            padding: 10px;;
            width: 49px;
            background-color: aliceblue;
            margin: 5px;
            border-radius: 50%;
             
        }
        .button_center2:active:hover{
           background-color: #3D6183;
            i{
                color: #000;
            }
         
        }
        .button_center3 {
            display: inline-block;
            text-align: center ;
            justify-content: center;

            height: 49px;
            padding: 10px;;
            width: 49px;
            background-color: aliceblue;
            margin: 5px;
            border-radius: 50%;
             
        }

        .button_center3:active:hover{
            background-color: #84A563;
             i{
                 color: #000;
             }
          
         }

        .button_center4 {
            display: inline-block;
            text-align: center ;
            justify-content: center;

            height: 49px;
            padding: 10px;;
            width: 49px;
            background-color: aliceblue;
            margin: 5px;
            border-radius: 50%;
             
        }

        .button_center4:active:hover{
            background-color: #D7443F;
             i{
                 color: #000;
             }
          
         }

        .button_center:active{
            background-color: #3D6183;
        }
  }
}


@media only screen and (min-width: 1008px) {
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    };
}