<div class="container">
    <div class="card">
      <div class="card-icon">
          <i class="fas fa-globe"> <p class="global">Global</p></i>
      </div>
        <div class="card-title">
          <h2>{{weatherItem.weather_state_name}}</h2>
          
          <h5><i class="fas fa-compass"></i> {{weatherItem.wind_direction_compass}}</h5>
          <div class="card-item">
            <ul class="ul">
            <li>Direction: {{weatherItem.wind_direction_compass}}</li>
            <li>Min-Temp: {{weatherItem.min_temp}}</li>
            <li>Max-Temp: {{weatherItem.max_temp}}</li>
            <li>Humidity:{{weatherItem.humidity}}</li>
          </ul>
          </div>
        </div>
    </div>
    </div>